<%- include("../partials/header") %>

<h1>Departure Flight Schedule</h1>
<p>Here you can find departure flight information</p>

<table>
  <thead>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight No.</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
  </thead>
  <tbody>
    <% flights.forEach(function(flight) { %>
    <tr>
      <% if(flight.airline === "Korean") { %>
      <td><%= flight.airline %> Air</td>
      <% } else if(flight.airline === "Asiana") { %>
      <td><%= flight.airline %> Airlines</td>
      <% } else if(flight.airline === "Busan") { %>
      <td>Air <%= flight.airline %></td>
      <% } %>
      <td><%= flight.airport %></td>

      <% if(flight.airline === "Korean") { %>
      <td>KE<%= flight.flightNo %></td>
      <% } else if(flight.airline === "Asiana") { %>
      <td>OZ<%= flight.flightNo %></td>
      <% } else if(flight.airline === "Busan") { %>
      <td>BX<%= flight.flightNo %></td>
      <% } %>

      <td><%= flight.departsDate.toLocaleDateString() %></td>

      <td><%= flight.departsTime.substring(0, 5) %></td>

      <td><a href="/flights/<%= flight.id %>">DETAIL</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>
